@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@section Scripts{
    <script>
        //import { Index } from '/js/main.min.js'
        //Index(1,'Success');
        //Index(2, 'Fail');
        //Index(3, 'Pending');
    </script>
}